
/*@media screen and (min-width: 1500px) {*/

  * {
  box-sizing: border-box;
}
[class*="top"] {
  float: left;
  padding: 15px;
}
  body { 
  background: radial-gradient(#41222C, #3D4023);
  margin:8px;
  overflow: hidden;
}
@font-face {
    font-family: "NeueMetana";
    src: url("fonts/NeueMetana-Regular.otf");
  }

  @font-face {
     font-family: "Harmond";
     src: url("fonts/Harmond-ExtraBoldExpanded.otf");
}
.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns:repeat(6, 1fr);
/* grid-template-columns: 1fr 4fr 2fr; */
  gap: 17px 1px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
}
.top {
  background-color:transparent;
  height: 100vh;

}
.top-one {
  grid-column: 1 / span 1;
  position: relative;
}
.top-two {
  grid-column: 2 / span 5;
  position:relative;
}
h4{
   font-family: "NeueMetana";
  font-size: 0.5em;
}

.act1-desc{
  position: relative;
  top: 8em;
  left:0.7em;
  font-size: 1em;
  text-align: left;
   font-family: "Harmond";
   color: #fff;
}
.act2-desc
.instructions-1{
  position: relative;
top: 30vh;
}
.cluster-1{
  position:absolute;
  right:49vw;
  top:0em;
  width:50%;
  height:auto;
   margin-top: 5em;
}
    .bg-1 {
      position: absolute;
      right:0em;
      top: 0em;
      max-width: 70%;
      height:auto;
    }
    .gregor-inbed{
      position: absolute;
      right:0%;
      top:0%;
      z-index:3;
    }
    .clock {
      position: relative;
      top: -10vh;
      left:0%;
      z-index:1;
    }
    .swing {
        animation: swing ease-in-out 2s infinite alternate;
        transform-origin: center 20px;
        }

.cluster-2{
  position:absolute;
  right:49vw;
  top:-8vh;
  width:50%;
  height:auto;
   margin-top: 5em;
}
    .gregor-1 {
      position: absolute;
      left:140%;
      top:-20vh;
      z-index:3;
      width:30%;
    }
    .swing2{
        animation: swing ease-in-out 5s infinite alternate;
        transform-origin: center 10px;
        }
    .act1-2 {
      position: relative;
      right:-35vw;
      top: -5vh;
      max-width: 70%;
      height:auto;
    }

/*third cluster*/
.cluster-3{
 position:absolute;
  right:28vw;
  top:-10vh;
  width:40%;
  height:auto;
   margin-top: 5em;
      }
      .jumble {
         position: absolute;
      left:48vw;
      top:-39vh;
      z-index:3;
      width:23%;
      }
      .act1-3 {
        position: relative;
      right:-35vw;
      top: -5vh;
      max-width: 60%;
      height:auto;
}

.cluster-4{
   position:absolute;
  right:38vw;
  top:39vh;
  width:55%;
  height:auto;
   margin-top: 5em;
      }
      .door {
     position: absolute;
      left:8vw;
      top:2vh;
      z-index:3;
      width:27%;
    }
      .scream {
       position: absolute;
      left:12vw;
      top:-44vh;
      z-index:3;
      width:35%;
      }
      .act1-4 {
        position: relative;
      right:-0vw;
      top: -5vh;
      max-width: 80%;
      height:auto;
}
.cluster-5{
 position:absolute;
  right:35vw;
  top:39vh;
  width:55%;
  height:auto;
   margin-top: 5em;
      }
        .act1-5 {
        position: relative;
      right:-26vw;
      top: -12vh;
      max-width: 80%;
      height:auto;
}

/*adapted from:https://codepen.io/FlorinPop17/pen/drJJzK*/
.blobs-container {
  display: inline;
  position: relative;
}
.blob {
  background: white;
  border-radius: 80%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 40px;
  width: 40px;
  position: relative;
}
.blob.white {
  background: white;
  position: relative;
  top: 2vh;
  left: 34vw;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  z-index: 10;
}
.blob.white: hover{
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob.black {
 background: white;
  position: relative;
  top: 7vh;
  left: 60vw;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  z-index: 10;
}
.blob.black: hover{
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob.brown {
  background: white;
  position: relative;
  top: 23vh;
  left: 54vw;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  z-index: 10;
}
.blob.brown: hover{
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob.pink {
   background: white;
  position: relative;
  top: 17vh;
  left: 10vw;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  z-index: 10;
}
.blob.pink: hover{
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob.blue {
  background: white;
  position: relative;
  top: 12vh;
  left: 45vw;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  z-index: 10;
}
.blob.blue: hover{
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob: hover{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}


.blob .tooltiptext {
  visibility: hidden;
  width: 22em;
  background-color: #EAE6E1;
  color: #402A29;
  text-align: left;
  font-family: "NeueMetana";
  font-size: 0.5em;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 5;
  bottom: 110%;
  left: 50%;
  margin-left: 0px;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

.blob .tooltiptext::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 10%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: #EAE6E1 transparent transparent transparent;
   animation-play-state:paused;
  cursor: pointer;
}

.blob:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob .tooltiptext-2 {
  visibility: hidden;
  width: 20em;
  background-color: #EAE6E1;
  color: #402A29;
  text-align: left;
  font-family: "NeueMetana";
  font-size: 0.5em;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 5;
  bottom: 155%;
  left: -21em;
  margin-left: 0px;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

.blob .tooltiptext-2::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 82%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: #EAE6E1 transparent transparent transparent;
   animation-play-state:paused;
  cursor: pointer;
}

.blob:hover .tooltiptext-2 {
  visibility: visible;
  opacity: 1;
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
  .tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: infinite;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  }
  @-webkit-keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 
    .shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   animation-iteration-count: infinite;
  }
  @-webkit-keyframes shake {
  0%, 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  }
  @keyframes shake {
  0%, 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  } 
  .button-act2{
  position: absolute;
      right:0em;
      top: 20em;
      max-width: 70%;
      height:auto;
 }
 .instructions{
position: relative;
width: 15vw;
height: auto;
top:18vh;
left:-7vw;
}

.popup {
  top:60vh;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 30em;
  color: #402A29;
  text-align: left;
  font-family: "NeueMetana";
  font-size: 1em;
  border-radius: 6px;
  padding: 20px;
  position: fixed;
  z-index:100;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 22em;
background-color: #EAE6E1;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 100;
  bottom: 80%;
  left: 50%;
  margin-left: -80px;
}
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.topbar {
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  background-color: #333;
}

.bar {
  float: center;
}

.bar, .active {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 20em;
  text-decoration: none;
}





/*media queries*/
@media screen and (max-width: 1100px) {
  body { 
background: radial-gradient(#41222C, #3D4023);
margin: 8px;
  width: 100%;
  overflow-y: scroll;
  justify-content: center;
}

  * {
  box-sizing: border-box;

}
[class*="top"] {
  float: left;
  padding: 15px;
}
@font-face {
    font-family: "NeueMetana";
    src: url("fonts/NeueMetana-Regular.otf");
  }

  @font-face {
     font-family: "Harmond";
     src: url("fonts/Harmond-ExtraBoldExpanded.otf");
}
.grid-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns:repeat(6, 1fr);
/* grid-template-columns: 1fr 4fr 2fr; */
  gap: 17px 1px;
  justify-content: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
}
.top {
  background-color:transparent;
  height: 100vh;

}
.top-one {
  grid-column: 1 / span 1;
  position: relative;
}
.top-two {
  grid-column: 2 / span 5;
  position:relative;
}
/*hr{
  position: absolute;
  top:-1vh;
  left:19vw;
}*/

.act1-desc{
  position: relative;
  top: 4vh;
  left:13vw;
  width:65vw;
  font-size: 4vw;
  text-align: center;
   font-family: "Harmond";
   color: #fff;
}
.instructions-1{
  position: relative;
top: 30vh;
}
.cluster-1{
  position:absolute;
  right:22vw;
  top:15vh;
  width:290%;
  height:auto;
   margin-top: 5em;
   align-items: center;
}
    .bg-1 {
      position: absolute;
      right:0em;
      top: 0em;
      max-width: 70%;
      height:auto;
    }
    .gregor-inbed{
      position: absolute;
      right:0%;
      top:0%;
      z-index:3;
    }
    .clock {
      position: relative;
      top: -10vh;
      left:0%;
      z-index:1;
    }
    .swing {
        animation: swing ease-in-out 2s infinite alternate;
        transform-origin: center 20px;
        }

.cluster-2{
   position:absolute;
  right:31vw;
  top:88vw;
  width:320%;
  height:auto;
   margin-top: 5em;
   align-items: center;
}
    .gregor-1 {
      position: absolute;
      left:93%;
      top:-17vh;
      z-index:3;
      width:20%;
    }
    .swing2{
        animation: swing ease-in-out 5s infinite alternate;
        transform-origin: center 10px;
        }
    .act1-2 {
      position: relative;
      right:-35vw;
      top: -5vh;
      max-width: 70%;
      height:auto;
    }

/*third cluster*/
.cluster-3{
  position:absolute;
  right:38vw;
  top:148vw;
  width:290%;
  height:auto;
   margin-top: 5em;
   align-items: center;
      }
      .jumble {
       position: relative;
      top: -34vh;
      left:45%;
      z-index:1;
      max-width: 50%;
      }
      .act1-3 {
        position: relative;
      right:-35vw;
      top: -5vh;
      max-width: 60%;
      height:auto;
}

.cluster-4{
   position:absolute;
  right:-18vw;
  top:237vw;
  width:370%;
  height:auto;
   margin-top: 5em;
   align-items: center;
      }
      .door {
     position: absolute;
      left:13vw;
      top:2vh;
      z-index:3;
      width:27%;
    }
      .scream {
       position: absolute;
      left:27vw;
      top:-35vh;
      z-index:3;
      width:27%;
      }
      .act1-4 {
        position: relative;
      right:-0vw;
      top: -5vh;
      max-width: 80%;
      height:auto;
}
.cluster-5{
 position:absolute;
  right:12vw;
  top:320vw;
  width:370%;
  height:auto;
   margin-top: 5em;
   align-items: center;
      }
        .act1-5 {
        position: relative;
      right:-26vw;
      top: -12vh;
      max-width: 100%;
      height:auto;
}

/*adapted from:https://codepen.io/FlorinPop17/pen/drJJzK*/
.blobs-container {
  display: inline;
  position: relative;
}
.blob {
  background: white;
  border-radius: 80%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 40px;
  width: 40px;
  position: relative;
}
.blob.white {
  background: white;
  position: relative;
  top: 2vh;
  left: 34vw;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  z-index: 10;
}
.blob.white: hover{
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob.black {
 background: white;
  position: relative;
  top: 7vh;
  left: 60vw;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  z-index: 10;
}
.blob.black: hover{
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob.brown {
  background: white;
  position: relative;
  top: 23vh;
  left: 54vw;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  z-index: 10;
}
.blob.brown: hover{
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob.pink {
   background: white;
  position: relative;
  top: 12vh;
  left: 10vw;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  z-index: 10;
}
.blob.pink: hover{
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob.blue {
  background: white;
  position: relative;
  top: 10vh;
  left: 80vw;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  animation: pulse-white 2s infinite;
  z-index: 10;
}
.blob.blue: hover{
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob: hover{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}


.blob .tooltiptext {
  visibility: hidden;
  width: 22em;
  background-color: #EAE6E1;
  color: #402A29;
  text-align: left;
  font-family: "NeueMetana";
  font-size: 0.5em;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 5;
  bottom: 110%;
  left: 50%;
  margin-left: 0px;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

.blob .tooltiptext::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 10%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: #EAE6E1 transparent transparent transparent;
   animation-play-state:paused;
  cursor: pointer;
}

.blob:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}
.blob .tooltiptext-2 {
  visibility: hidden;
  width: 20em;
  background-color: #EAE6E1;
  color: #402A29;
  text-align: left;
  font-family: "NeueMetana";
  font-size: 0.3em;
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  z-index: 5;
  bottom: 155%;
  left: -21em;
  margin-left: 0px;
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

.blob .tooltiptext-2::after {
  content: "";
  position: absolute;
  top: 99%;
  left: 82%;
  margin-left: -5px;
  border-width: 15px;
  border-style: solid;
  border-color: #EAE6E1 transparent transparent transparent;
   animation-play-state:paused;
  cursor: pointer;
}

.blob:hover .tooltiptext-2 {
  visibility: visible;
  opacity: 1;
   -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
  .tada {
  -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: infinite;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  }
  @-webkit-keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 
      .shake {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
   animation-iteration-count: infinite;
  }
  @-webkit-keyframes shake {
  0%, 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  }
  @keyframes shake {
  0%, 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  } 

.button-act2{
position: absolute;
      right:6em;
      top: 70em;
      width:30vw;
      max-width: 140%;
      height:auto;
      padding-bottom: 2vh;
}
 .instructions{
position: fixed;
width: 35vw;
height: auto;
top:90vh;
left:1vw;
}

.popup {
  top:60vh;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 20em;
  color: #402A29;
  text-align: left;
  font-family: "NeueMetana";
  font-size: 0.5em;
  border-radius: 6px;
  padding: 20px;
  position: fixed;
  z-index:100;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 22em;
background-color: #EAE6E1;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 100;
  bottom: 80%;
  left: 10%;
  margin-left: -80px;
}
/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

}
